In [8]:
# import the dataset 

import pandas as pd #importing pandas
import numpy as np # importing numpy
import matplotlib.pyplot as plt # importing matlab visualization library
import seaborn as sns # importing seaborn



file= './Price.xlsx' # importing the file
Price_df= pd.read_excel(file) #creating first df

# showing first rows of worksheet_df

Price_datatype= {'Total_cost': float,
                 'Price_Per_QTY': float, 
                 'Quantity': int, 
                 'Department': str,
                 'Vendor': str, 
                 'Object': str
                } 
Price_df = Price_df.astype(Price_datatype)

Price_df.head(n=5)

,Object,Vendor,Department,Quantity,Price_Per_QTY,Total_cost
0,Wedding Arch,flo10,Flowers,1,810.5,810.5
1,Bride Bouqet,flo10,Flowers,1,350.0,350.0
2,Bridesmaid Bouqet,flo10,Flowers,1,123.0,123.0
3,Flower Wall,flo10,Flowers,1,550.0,550.0
4,table Flower Centerpieces,flo10,Flowers,5,150.0,750.0

In [9]:
def format_currency(value):
    """Formats the numerical Values into a currency."""
    return "${:,.2f}".format(value)


def Wedding_Cost_Breakdown(Prize_df): 
    
    #Department Level price summary
    department_summary = Price_df.groupby('Department').sum()
    
    #Vendor Level Summary 
    vendor_summary= Prize_df.groupby('Vendor').sum()
    
    
    tot_price = """
Client Wedding Proposal

"""
    
    
    #Itemized Breakdown 
    tot_price += """
Detailed Itemized Bill

"""
    for department,department_items in Price_df.groupby('Department'): 
        tot_price += f"\n Department: {department}\n"
        subtotal_department=0
        for index, row in department_items.iterrows():
            item = f" {row ['Vendor']} - {row ['Object']} (x {row['Quantity']})"
            tot_price+= f" {item}: {format_currency(row['Total_cost'])}\n"
            subtotal_department += row['Total_cost']
        tot_price += f" Subtotal for {department}: {format_currency(subtotal_department)}\n"
        
    #Total Price
    total_price = Price_df.Total_cost.sum()
    
    tot_price+= f"""

The total for the wedding is {format_currency (total_price)}

Please sign below to accept proposal: 


______________________________________"""
    

    return tot_price 

Wedding_cost_summary = Wedding_Cost_Breakdown(Price_df)
print(Wedding_cost_summary)

Client Wedding Proposal


Detailed Itemized Bill


 Department: Cake
  cak31 - Macaron Tower Cake (x 1): $275.00
 Subtotal for Cake: $275.00

 Department: Catering
  cat30 - Food (x 47): $1,175.00
 Subtotal for Catering: $1,175.00

 Department: Dress & Attire
  dre21 - First Appointment (x 1): $60.00
  dre21 - Alteration (x 1): $1,000.00
  dre21 - Groom Suit Rental (x 1): $425.00
 Subtotal for Dress & Attire: $1,485.00

 Department: Flowers
  flo10 - Wedding Arch (x 1): $810.50
  flo10 - Bride Bouqet (x 1): $350.00
  flo10 - Bridesmaid Bouqet (x 1): $123.00
  flo10 - Flower Wall (x 1): $550.00
  flo10 - table Flower Centerpieces (x 5): $750.00
 Subtotal for Flowers: $2,583.50

 Department: Hair and Makeup
  hai15 - Hair Service (x 1): $300.00
 Subtotal for Hair and Makeup: $300.00

 Department: Invitations
  inv23 - Tri Fold Card (x 50): $80.00
  inv23 - Die Cut Card (3 Per Invitation) (x 150): $157.50
 Subtotal for Invitations: $237.50

 Department: Jewlery
  jwl26 - Bride Wedding Band (x 1): $1,960.00
  jwl26 - Groom Wedding Band (x 1): $1,495.00
 Subtotal for Jewlery: $3,455.00

 Department: Music
  mus46 - DJ Service (x 1): $1,395.00
 Subtotal for Music: $1,395.00

 Department: Photo and Video
  pho22 - Photography All Day Service (x 1): $1,999.00
 Subtotal for Photo and Video: $1,999.00

 Department: Rentals
  ren29 - Lightning (x 2): $60.00
  ren29 - Arch (x 1): $45.00
  ren29 - Candle Centerpiece (3 Branch Candle Stand) (x 5): $87.50
 Subtotal for Rentals: $192.50

 Department: Venue
  ven26 - Del Monte Courtyard Ceremony and Reception Package (x 1): $2,000.00
 Subtotal for Venue: $2,000.00

 Department: Wedding Planner
  wed36 - Planner Day Of Service  (x 1): $1,250.00
 Subtotal for Wedding Planner: $1,250.00


The total for the wedding is $16,347.50

Please sign below to accept proposal:


______________________________________